@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
font-family: font-family: Verdana, Helvetica, Arial, sans-serif;
margin: 0;
}
body{
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 0px 10px 0px 10px;
    display: block;
    justify-content: center;
    background-color: white;
    box-sizing: border-box;
    line-height: 1.4;
    letter-spacing: 1.5px;
}
.main{
justify: center;
width: 100%;

}
.header{

    height: 580px;
    background-image: url(././img.png);
    background-repeat: no-repeat;
    background-position: right;
    color: brown;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
}
.h1{
  font-family: 'Sofia Sans', sans-serif;
  width: 580px;
  height: 100px;
  color: rgba(4, 150, 100, 0.75);
  padding: 200px 10px 200px 145px;
  font-size: 80px;
}

img{
    width: 400px;
    height: 260px;
    border: 2px solid brown;
    border-radius: 20%;
}
.photo{
padding:20px;
width: 100px;
}
.styles-design{
color-font: blue;}
h2{
text-align: center;
color: brown;
}
h3{
text-align: center;
color: brown;
}
table{
padding: 60px;
}
.main > .styles-design > td {
margin: 100px 0;
padding: 2px;
color: brown;
text-align: justify;
text-indent: 30px;
}
.main > h3 {
background-color: #454;
font-weight: 600;
padding: 0 10px;
text-transform: uppercase;
}
body p {
color: green;
}
main p > a:link {
color: #214e34;
font-weight: 500;
text-transform: uppercase;
}
main p > a:visited {
color: blue;
}
main p > a:hover {
color: red;
}
main p > a:active {
color: yellow;
}



/*.styles-design li {
margin: 5px;
border-bottom: 2px solid red;
}/*
#photo1{
width: 380px;
padding: 0px 0px 0px 75px;
}

