body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.word-guess
{
    display: flex;
    flex-direction: row;//строка из букв

}
.letter-guess
{
    font-size: 1.5em;
    margin-left: 2vw;
}
.try{
    display: flex;
    flex-direction: column;
    align-items: center;
}
