@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Secular+One&family=Suez+One&display=swap');
*{
margin: 0;
}
body{
font-family: 'Poller One', cursive;
background-image: url("./images/sky.jpg");
color: gold;
background-attachment: fixed;
}
header{
padding: 1em;
background-color: rgba(60, 69, 67, 0.6);
border-radius: 15px 0 0 10px;
height: 75px;
width: 100%;
}
h1{
text-align: center;
font-size: 4em;
padding: 0.2em;

}
nav > ul{
list-style: none;
padding: 5px;
position: fixed;
top: 2px;
left: 20px;

}
nav li{
display: inline;
border: 2px solid gold;
border-radius: 10px;
padding: 1px;
background-color: rgba(204, 3, 35, 0.5);
cursor: pointer;
padding: 2px;
margin: 1px;
}
.left{
float: left;
width: 25%;
margin: 5px 5px 3px 0;
}
.right{
text-align: center;
float: right;
width: 50%;
margin: 5px 0 0px 5px;
border: 2px solid gold;
border-radius: 0 0 10px 10px;
flex-wrap: wrap;
flex-direction: row;
}
.textStarWars{
font-size: 1.5em;
letter-spacing: 0.12em;
text-align: center;
}
.footer{
position: relative;
background-color: rgba(60, 69, 67, 0.6);
border-radius: 0 0 15px 15px;
height: 100px;
clear: both;
padding: 2px;
}
.button{
border: 2px solid gold;
border-radius: 10px;
background-color: rgba(204, 3, 35, 0.5);
cursor: pointer;
width: 150px;
padding: 3px;
position: absolute;
top: 50px;
left: 400px;
}
.email{
color: black;
font-size: 1.5em;
}
.bottomLeft{
border-bottom-left-radius: 15px;
}
.bottomRight{
border-bottom-right-radius: 15px;
}
.image{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
overflow: hidden;
}
.team{
height: 35px;
padding: 2px;
}
.button p{
font-size: 0.8em;
font-variant: small-caps;
padding: 1px;
text-align: center;
}
.image div {
size: auto;
width: auto;
overflow: hidden;
text-align: center;
}

