*{
font-family: font-family: Verdana, Helvetica, Arial, sans-serif;
margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    display: block;
    justify-content: center;
    background-color: white;
}
main{
justify: center;
padding:10px 0px 0px 0px ;
width: 100%;
}
.header{
    padding: 2px;
    height: 485px;
    width: 100%;
    background-image: url("././images/back.png");
    background-repeat: no-repeat;
    background-position: right;
    font-size: 75px; /*NOT WORK!!!???*/
    color: brown;
    font-size: 35px;
    text-align: center;
    background-color: white;

}

img{
    width: 300px;
    height: 260px;
    border: 2px solid brown;
    border-radius: 20%;
}
.photo{
padding:20px;
width: 100px;
}
.styles-design{
color-font: blue;}
h2{
text-align: center;
color: brown;
}
h3{
text-align: center;
color: brown;
}
#photo1{
width: 380px;
padding: 0px 0px 0px 75px;
}

